.gpt3__team-container_teamItem {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
    padding: 30px;
    border-radius: 8px;
}

.gpt3__team-container_teamItem-image {
    background: var(--color-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.gpt3__team-container_teamItem-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    outline: none;
    border: none;
    object-fit: cover;
}

.gpt3__team-container_teamItem-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    height: 100%;
}

.gpt3__team-container_teamItem-content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 25.11px;
    line-height: 30px;
    margin-bottom: 1rem;
    color: #FFFFFF;
}

.gpt3__team-container_teamItem-content p {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 11.649px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 550px) {

    .gpt3__team-container_teamItem-image {
        margin-bottom: 0.5rem;
    }

    .gpt3__team-container_teamItem-content h3 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 0.4re;
    }

    .gpt3__team-container_teamItem-content p {
        line-height: 22px;
    }
}